<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="left_front_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_rear_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="right_front_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="right_rear_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find agriscout_controller)/config/agriscout_controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo reference="camera_link">
        <sensor type="camera" name="agriscout_camera">
            <update_rate>30.0</update_rate>
            <topic>camera/image_raw</topic>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <topic>imu/data</topic>
        </sensor>
    </gazebo>

    <gazebo reference="lidar_link">
        <sensor name="lidar" type="gpu_lidar">
            <always_on>true</always_on>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <topic>scan</topic>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1.0</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>6.28</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>12.0</max>
                    <resolution>0.015</resolution>
                </range>
            </lidar>
        </sensor>
    </gazebo>

    <gazebo reference="left_front_wheel"> <mu1>1.0</mu1> <mu2>1.0</mu2> </gazebo>
    <gazebo reference="right_front_wheel"> <mu1>1.0</mu1> <mu2>1.0</mu2> </gazebo>
    <gazebo reference="left_rear_wheel"> <mu1>1.0</mu1> <mu2>1.0</mu2> </gazebo>
    <gazebo reference="right_rear_wheel"> <mu1>1.0</mu1> <mu2>1.0</mu2> </gazebo>

</robot>